{% extends 'base.html' %}


{% block content %}

<h1>Server status</h1>

<p>

<table class="table custab">
    <thead>
        <tr>
            <th>Option</th>
            <th>Value</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Process ID:</td>
            <td>
            {% if process_id %}
                {{ process_id }}
            {% else %}
                unknown
            {% endif %}
            </td>
        </tr>

        <tr class="custab-odd">
            <td>Pidfile location:</td>
            <td>
            {% if process_id %}
                {{ process_pidfile }}
            {% else %}
                unknown
            {% endif %}
            </td>
        </tr>
        
        <tr>
            <td>Server version:</td>
            <td>
            {% if server_version %}
                {{ server_version }}
            {% else %}
                unknown
            {% endif %}
            </td>
        </tr>
    </tbody>
</table>

</p>


{% endblock %}
