{% extends 'base.html' %}


{% block content %}

<h1>Server status</h1>

<p>

<table class="table custab sortable">
    <thead>
        <tr>
            <th><button class="custab-head-button">Option</button></th>
            <th class="sorttable_nosort">Value</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Process ID:</td>
            <td>
            {% if process_id %}
                {{ process_id }}
            {% else %}
                unknown
            {% endif %}
            </td>
        </tr>

        <tr class="custab-odd">
            <td>Pidfile location:</td>
            <td>
            {% if process_id %}
                {{ process_pidfile }}
            {% else %}
                unknown
            {% endif %}
            </td>
        </tr>
    </tbody>
</table>

</p>


{% endblock %}
