{% extends 'base.html' %}


{% block content %}

<h1>Bash Logs</h1>

<div class="col-sm-12">
    <div class="help-button">
        <button class="js-fr-offcanvas-open" aria-controls="help_box">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            Help
        </button>
    </div>
</div>

<div class="clear-float"></div>
<h2>Anomaly Detection Configuration</h2>

<div class="clear-float"></div>
<h3>Select date range</h3>

<div class="col-sm-12">
    <form class="pure-form ws-validate" method="get" action="">
        <div class="col-sm-6 ws-success">
            <label for="begin_date" class="control-label">Begin date:</label>
            <input type="date" name="begin_date" class='input-max-width slas-form-input' value="{{ begin_date }}" onchange="this.form.submit()">
        </div>

        <div class="col-sm-6 ws-success">
            <label for="end_date" class="control-label">End date:</label>
            <input type="date" name="end_date" class='input-max-width slas-form-input' value="{{ end_date }}" onchange="this.form.submit()">
        </div>

        <input type="hidden" name="agent_name_id" value="{{ agent_name_id }}">
    </form>

    <form class="pure-form ws-validate" method="post" action="{% url 'bash:configure_anomaly_detection_save_configuration' %}">
        {% csrf_token %}

        <input type="hidden" name="begin_date" id='begin_date' value="{{ begin_date }}">
        <input type="hidden" name="end_date" id='end_date' value="{{ end_date }}">
        <input type="hidden" name="agent_name_id" value="{{ agent_name_id }}">

        <div class="col-sm-12 ws-success ">
            <label>
                <input class="slas-form-input" id="redirect_to_correct_session_marks" name="redirect_to_correct_session_marks" type="checkbox">
                Select commands
            </label>
        </div>

        <p class="action-buttons-left">
            <button type="submit" class="pure-button button-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                Done
            </button>
        </p>
    </form>
</div>

<div class="clear-float"></div>
<h3>Commands preview</h3>

<div class="col-sm-12">
    <div class="next-page-section">
      {% if commands_statistics %}
            <table class="table table custab sortable">
                <thead>
                    <tr>
                        <th><button class="custab-head-button">Command</button></th>
                        <th><button class="custab-head-button">Summary count</button></th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for c in commands_statistics %}
                    <tr {% cycle '' 'class="custab-odd"' %}>
                        <td> {{ c.command_name|truncatechars:55 }} </td>
                        <td> {{ c.summary_count }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <i class="fa fa-exclamation" aria-hidden="true"></i>
            Empty commands set.
        {% endif %}
    </div>
</div>

<section class="fr-offcanvas fr-offcanvas--right js-fr-offcanvas slas-offcanvas" id="help_box">
    <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim <a href="#">ipsam voluptatem</a> quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
    <p>
        Sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem <a href="#">ullam corporis suscipit</a> laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sunt modi! Nobis ab quia soluta, perspiciatis <a href="#">laudantium eveniet</a> quaerat sed, quod hic debitis earum repellendus optio, inventore ex facere possimus.
    </p>
    <button class="fr-offcanvas-close js-fr-offcanvas-close">
        <i class="fa fa-times" aria-hidden="true"></i>
        Close
    </button>
</section>

{% endblock %}
