{% extends 'base.html' %}


{% block content %}

<h1>Apache Logs</h1>

<div class="col-sm-12">
    <div class="help-button">
        <button class="js-fr-offcanvas-open" aria-controls="help_box">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            Help
        </button>
    </div>
</div>

<div class="clear-float"></div>
<h2>Anomaly Detection Configuration</h2>

<div class="clear-float"></div>
<h3>Current configuration</h3>

<div class="col-sm-12">
    {% if configuration %}
        <table class="table table custab sortable">
            <thead>
                <tr>
                    <th><button class="custab-head-button">Agent</button></th>
                    <th><button class="custab-head-button">Virtualhost</button></th>
                    <th><button class="custab-head-button">Date range</button></th>
                </tr>
            </thead>
    
            <tbody>
                {% for c in configuration %}
                <tr {% cycle '' 'class="custab-odd"' %}>
                    <td> {{ c.agent_name }} </td>
                    <td> {{ c.virtualhost_name }} </td>
                    <td> {{ c.begin_date }} - {{ c.end_date }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <i class="fa fa-exclamation" aria-hidden="true"></i>
        No configuration found.
    {% endif %}
</div>

<div class="clear-float"></div>
<h3>Select agent and virtualhost</h3>

<div class="col-sm-12">
    <form class="pure-form ws-validate" method="get" action="#">
        <div class="col-sm-6 ws-success">
            <label for="agent_name" class="control-label">Agent name:</label>
            <select name="agent_name" class='input-max-width' onchange="this.form.submit()">
                {% if agent_name == '' %}
                    <option disabled selected value> -- select an option -- </option>
                {% endif %}

                {% for name in agent_names %}
                    <option value="{{ name }}"
                        {% if name == agent_name %}
                            selected
                        {% endif %}
                        >
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-sm-6 ws-success">
            <label for="virtualhost_name" class="control-label">Virtualhost:</label>
            <select name="virtualhost_name" class='input-max-width' onchange="this.form.submit()">
                {% if virtualhost_name == '' %}
                    <option disabled selected value> -- select an option -- </option>
                {% endif %}

                {% for name in virtualhosts_names %}
                    <option value="{{ name }}"
                        {% if name == virtualhost_name %}
                            selected
                        {% endif %}
                        >
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>

    {% if virtualhost_name != '' and  agent_name != ''%}
        <p class="action-buttons-left">
            <a class="pure-button pure-button-primary" href="{% url 'apache:configure_anomaly_detection_select_data_range' %}?agent_name={{ agent_name }}&virtualhost_name={{ virtualhost_name }}">
                Next
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
        </p>
    {% endif %}
</div>

<section class="fr-offcanvas fr-offcanvas--right js-fr-offcanvas slas-offcanvas" id="help_box">
    <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim <a href="#">ipsam voluptatem</a> quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.
    </p>
    <p>
        Sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem <a href="#">ullam corporis suscipit</a> laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sunt modi! Nobis ab quia soluta, perspiciatis <a href="#">laudantium eveniet</a> quaerat sed, quod hic debitis earum repellendus optio, inventore ex facere possimus.
    </p>
    <button class="fr-offcanvas-close js-fr-offcanvas-close">
        <i class="fa fa-times" aria-hidden="true"></i>
        Close
    </button>
</section>

{% endblock %}
