{% extends 'base.html' %}


{% block content %}

<h1>Apache Logs</h1>

<div>
    <h2>Configuration</h2>

    <p>
   
    {% if configuration %}
        <table class="table table custab">
            <thead>
                <tr>
                    <th>Agent</th>
                    <th>Virtualhost</th>
                    <th>Data range</th>
                    <th>Options</th>
                </tr>
            </thead>

            <tbody>
                {% for c in configuration %}
                <tr {% cycle '' 'class="custab odd"' %}>
                    <td> {{ c.agent_name }} </td>
                    <td> {{ c.virtualhost_name }} </td>
                    <td> {{ c.begin_date }} - {{ c.end_date }} </td>
                    <td> 
                        <a href="#" class="btn btn-info btn-xs"> Categorize data </a>
                        <a href="#" class="btn btn-warning btn-xs">Reconfigure</a>
                        <a href="#" class="btn btn-danger btn-xs"> Remove </a>
                    </td>
                </tr>               
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No configuration found.
    {% endif %}
    
    </p>
    
    <div class="action-buttons">
        <a class="pure-button pure-button-primary" href="{% url 'apache:configure_anomaly_detection' %}">Configure anomaly detection</a>
        <a class="pure-button pure-button-primary" href="{% url 'apache:configure_actions' %}">Configure actions</a>
    </div>

    <div class="clear-float"></div>

</div>


<div>

    <h2>Results</h2>
    
    <div class="action-buttons">
        <a class="pure-button button-success" href="{% url 'apache:review_detection_results' %}">Review detection results</a>
    </div>

    <div class="clear-float"></div>

</div>

{% endblock %}
