{% extends 'base.html' %}


{% block content %}

<h1>Bash Logs</h1>

<p>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Configured</th>
            <th>Data range</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td> no </td>
            <td> - </td>
        </tr>
    </tbody>
</table>

</p>

<p class="action-buttons">
    <a class="pure-button pure-button-primary" href="#">Configure anomaly detection</a>
    <a class="pure-button pure-button-primary" href="#">Configure actions</a>
</p>

{% endblock %}
