{% extends 'user/login_base.html' %}


{% block content %}

<h1>Login</h1>

<div class="col-sm-12">

<form action="/user/auth" method="POST" class="pure-form pure-form-aligned">
    <fieldset>
        {% csrf_token %}

        <div class="pure-control-group">
            <label for="username">User:</label>
            <input type="text" name="username" value="" id="username"/>
        </div>

        <div class="pure-control-group">
            <label for="password">Password:</label>
            <input type="password" name="password" value="" id="password"/>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Ok
            </button>
        </div>
    </fieldset>
</form>

</div>

{% endblock %}
