{% extends 'base.html' %}


{% block content %}

<h1>Apache Logs</h1>

<h2>Anomaly Detection Configuration</h2>

<h3>Step 4/4 - Categorize data</h3>

<div class="page-content">

    <p>
        Please select correct sessions:
    </p>
    
    <p>
        <form class="pure-form" method="post">
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP</th>
                        <th>Session start</th>
                        <th>Session length (s)</th>
                        <th>Bandwidth usage (bytes)</th>
                        <th>Requests count</th>
                        <th>Error requests (%)</th>
                        <th>User-Agent</th>
                        <th>Is anomaly</th>
                    </tr>
                </thead>
            
                <tbody>
                {% for s in sessions %}
                    <tr {% cycle '' 'class="pure-table-odd"' %}>
                        <td>{{ s.id }}</td>
                        <td>{{ s.client_ip }}</td>
                        <td>{{ s.session_start }}</td>
                        <td>{{ s.session_length }}</td>
                        <td>{{ s.bandwidth_usage }}</td>
                        <td>{{ s.requests_count }}</td>
                        <td>{{ s.error_percentage }}</td>
                        <td>{{ s.useragent }}</td>
                        <td>
                            <input type="checkbox"
                             {% if s.is_anomaly %}
                                checked="checked" 
                            {% endif %}
                             >
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p class="action-buttons">
                <button type="submit" class="pure-button pure-button-primary">Finish</button>
            </p>
        </form>
    </p>

</div>

{% endblock %}
