{% extends 'base.html' %}


{% block content %}

<h1>Apache Logs</h1>

<h2>Anomaly Detection Configuration</h2>


<div class="page-content">
    <h3>Categorize data</h3>

    <p>
        Please select incorrect sessions:
    </p>
    
    <p>
        <form class="pure-form" method="post" action="{% url 'apache:configure_anomaly_detection_save_settings' %}">
            {% csrf_token %}
            
            <input type="hidden" name="agent_name" value="{{ agent_name }}">
            <input type="hidden" name="virtualhost_name" value="{{ virtualhost_name }}">
            <input type="hidden" name="begin_date" value="{{ begin_date }}">
            <input type="hidden" name="end_date" value="{{ end_date }}">

            <table class="table custab">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP</th>
                        <th>Session start</th>
                        <th>Session length (s)</th>
                        <th>Bandwidth usage (bytes)</th>
                        <th>Requests count</th>
                        <th>Error requests (%)</th>
                        <th>User-Agent</th>
                        <th>Is anomaly</th>
                    </tr>
                </thead>

                <tbody>
                {% for s in sessions %}
                    <tr id="table_row_{{ s.id }}"
                        {% if s.is_anomaly %}
                            class="analysis_results_row_anomaly"
                        {% else %}
                            class="analysis_results_row_ok"
                        {% endif %}
                    >
                        <td>{{ s.id }}</td>
                        <td>{{ s.client_ip }}</td>
                        <td>{{ s.session_start }}</td>
                        <td>{{ s.session_length }}</td>
                        <td>{{ s.bandwidth_usage }}</td>
                        <td>{{ s.requests_count }}</td>
                        <td>{{ s.error_percentage | floatformat }}</td>
                        <td>{{ s.useragent }}</td>
                        <td>
                            <input type="hidden" name="rows_ids" value="{{ s.id }}">
                            <input id="table_check_button_{{ s.id }}" type="checkbox" name="checks" value="{{ s.id }}"
                             {% if s.is_anomaly %}
                                checked="checked" 
                             {% endif %}
                                onclick="change_table_row_color({{ s.id }})"
                             >
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p class="action-buttons">
                <a class="pure-button pure-button-primary" href="?agent_name={{ agent_name }}&virtualhost_name={{ virtualhost_name }}&begin_date={{ begin_date }}&end_date={{ end_date }}&mark_automatically=true">Automatically mark sessions as anomalies</a>
                <button type="submit" class="pure-button button-success">Finish</button>
            </p>
        </form>
    </p>

</div>

{% endblock %}
