{% extends 'base.html' %}


{% block content %}

<h1>Apache Logs</h1>

<h2>Anomaly Detection Configuration</h2>

<h3>Select agent and virtualhost</h3>

<p>
    <form class="pure-form ws-validate" method="get" action="#">
        <div class="col-sm-6 ws-success">
            <label for="agent_name" class="control-label">Agent name:</label>
            <select name="agent_name" class='input-max-width' onchange="this.form.submit()">
                {% if agent_name == '' %}
                    <option disabled selected value> -- select an option -- </option>
                {% endif %}

                {% for name in agent_names %}
                    <option value="{{ name }}"
                        {% if name == agent_name %}
                            selected
                        {% endif %}
                        >
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-sm-6 ws-success">
            <label for="virtualhost_name" class="control-label">Virtualhost:</label>
            <select name="virtualhost_name" class='input-max-width' onchange="this.form.submit()">
                {% if virtualhost_name == '' %}
                    <option disabled selected value> -- select an option -- </option>
                {% endif %}

                {% for name in virtualhosts_names %}
                    <option value="{{ name }}"
                        {% if name == virtualhost_name %}
                            selected
                        {% endif %}
                        >
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>

    {% if virtualhost_name != '' and  agent_name != ''%}
        <p class="action-buttons-left">
            <a class="pure-button pure-button-primary" href="{% url 'apache:configure_anomaly_detection_select_data_range' %}?agent_name={{ agent_name }}&virtualhost_name={{ virtualhost_name }}">
                Next
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
        </p>
    {% endif %}

</p>

{% endblock %}
