{% extends 'base.html' %}


{% block content %}

<h1>Apache Logs</h1>

<h2>Anomaly Detection Configuration</h2>


<div class="page-content">
    <h3>Select date range</h3>

    <p>
        <form class="pure-form ws-validate" method="get" action="{% url 'apache:configure_anomaly_detection_select_data_range' %}">
            <div class="col-sm-6 ws-success">
                <label for="begin_date" class="control-label">Begin date:</label>
                <input type="date" name="begin_date" class='input-max-width slas-form-input' value="{{ begin_date }}" onchange="this.form.submit()">
            </div>

            <div class="col-sm-6 ws-success">
                <label for="end_date" class="control-label">End date:</label>
                <input type="date" name="end_date" class='input-max-width slas-form-input' value="{{ end_date }}" onchange="this.form.submit()">
            </div>

            <input type="hidden" name="agent_name" value="{{ agent_name }}">
            <input type="hidden" name="virtualhost_name" value="{{ virtualhost_name }}">
        </form>

        <form class="pure-form ws-validate" method="post" action="{% url 'apache:configure_anomaly_detection_select_data_range_save_settings' %}">
            {% csrf_token %}

            <input type="hidden" name="begin_date" id='begin_date' value="{{ begin_date }}">
            <input type="hidden" name="end_date" id='end_date' value="{{ end_date }}">
            <input type="hidden" name="agent_name" value="{{ agent_name }}">
            <input type="hidden" name="virtualhost_name" value="{{ virtualhost_name }}">

            <div class="col-sm-12 ws-success ">
                <label>
                    <input class="slas-form-input" id="redirect_to_correct_session_marks" name="redirect_to_correct_session_marks" type="checkbox">
                    Categorize sessions now
                </label>
            </div>

            <p class="action-buttons-left">
                <button type="submit" class="pure-button button-success">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Done
                </button>
            </p>
        </form>
    </p>
    
    <div class="clear-float"></div>

    <h3>Sessions preview</h3>
    <p>
        {% if sessions|length == 0 %}
            There is no data to display.
        {% else %}
            <table class="table custab">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP</th>
                        <th>Session start</th>
                        <th>Session length (s)</th>
                        <th>Bandwidth usage (bytes)</th>
                        <th>Requests count</th>
                        <th>Error requests (%)</th>
                        <th>User-Agent</th>
                        <th>Is anomaly</th>
                    </tr>
                </thead>

                <tbody>
                {% for s in sessions %}
                    <tr
                    {% if s.is_anomaly %}
                        class="analysis_results_row_anomaly"
                    {% else %}
                        class="analysis_results_row_ok"
                    {% endif %}
                    >
                        <td>{{ s.id }}</td>
                        <td>{{ s.client_ip }}</td>
                        <td>{{ s.session_start }}</td>
                        <td>{{ s.session_length }}</td>
                        <td>{{ s.bandwidth_usage }}</td>
                        <td>{{ s.requests_count }}</td>
                        <td>{{ s.error_percentage | floatformat }}</td>
                        <td>{{ s.useragent }}</td>
                        <td>
                            {% if s.is_anomaly %}
                                <a href="#" class="btn btn-danger btn-xs"> ANOMALY </a>
                            {% else %}
                                <a href="#" class="btn btn-success btn-xs"> NO </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </p>
</div>

{% endblock %}
