/*	Panel */
.fr-offcanvas--is-ready {
  border: 1px solid;
  background-color: #fff;
  left: 100%;
  overflow: auto;
  max-width: 400px;
  position: fixed;
  top: 55px;
  bottom: 5px;
  transform: translateX(0);
  width: 100%;
  will-change: translateX;
}

/*	Panel - Visible */
.fr-offcanvas--is-ready[aria-hidden="false"] {
  transform: translateX(-100%);
}

section.slas-offcanvas {
  background-color: #fff;
  visibility: hidden;
  outline: 0;
}

section.slas-offcanvas button {
  color: white;
}

section.slas-offcanvas p,
section.slas-offcanvas p a,
section.slas-offcanvas p a:hover,
section.slas-offcanvas p a:focus {
  text-shadow: 0px 0 #fff,0px 0 #fff;
  background-image: none;
  outline: 0;
  color: black;
}

/* dialogmodal */
.fr-dialogmodal {
  visibility: hidden;
}

.fr-dialogmodal--is-ready .fr-dialogmodal-modal {
  padding: 1.625em 1.25em 0;
  background-color: #fff;
  outline: 0;
}

.fr-dialogmodal--is-ready .fr-dialogmodal-modal h2 {
  border-bottom: 2px solid #4b4b4b;
}

.fr-dialogmodal--is-ready .fr-dialogmodal-modal p,
.fr-dialogmodal--is-ready .fr-dialogmodal-modal p a,
.fr-dialogmodal--is-ready .fr-dialogmodal-modal p a:hover,
.fr-dialogmodal--is-ready .fr-dialogmodal-modal p a:focus {
  text-shadow: 0px 0 #fff,0px 0 #fff;
  background-image: none;
  outline: 0;
  color: black;
  padding: 0.5em;
}

.fr-dialogmodal--is-ready {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.fr-dialogmodal--is-ready .fr-dialogmodal-modal {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%); /* Modal blurs when using translate3d */
      transform: translateX(-50%) translateY(-50%); /* Modal blurs when using translate3d */
}

.fr-dialogmodal--is-ready[aria-hidden="true"] {
  visibility: hidden;
}

.fr-dialogmodal--is-ready[aria-hidden="false"] {
  visibility: visible;
}
