body {
  padding-top: 50px !important;
  background-color: #fafafa !important;
  color: #333 !important;
  line-height: 1.4285 !important;
  font-size: 14px !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  letter-spacing: 0px !important;
}

.template {
  padding: 10px 15px;
}

.navbar-inverse {
  border-color: #f1f1f1;
  background-image: linear-gradient(to bottom, #f1f1f1 0px, #dedede 100%);
  background-repeat: repeat-x;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  text-shadow: none;
}

.navbar-inverse .navbar-brand {
  color: #4b4b4b;
}

.navbar-inverse .navbar-nav > li > a {
  color: #4b4b4b;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #FFF;
  background-color: #a1a1a1;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
  background-image: none;
  background-repeat: repeat-x;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-right: 30px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #000;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #000;
  background-color: transparent;
}

/* Calendar - Picker */
.input-picker .ws-picker-header > select {
    display: none;
}

/* other */
h1, h2, h3 {
  padding-bottom: .3em;
}

h1 {
  font-size: 3em;
  border-bottom: 2px solid #4b4b4b;
}

h2 {
  padding-top: .7em;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  padding-top: 0.7em;
}

table {
  width: 100%;
}

.next-page-section {
  padding-top: 1em;
}

.page-content a,
.page-content a:hover,
.page-content a:focus,
.page-content button,
.page-content button:focus {
  background-image: none;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 0;
  text-shadow: none;
  color: #fff;
  text-decoration: none;
  transition: none;
  outline: 0;
}


input.slas-form-input {
  margin: 0.5em;
}

.action-buttons,
.action-buttons-left,
.action-buttons-right {
  padding: 0.5em;
  line-height: 2.5em;
}

.action-buttons-left {
  float: left;
}

.action-buttons-right {
  float: right;
}

.clear-float {
  clear: both;
}

.input-max-width {
  width: 100%;
}

.page-content {
  padding-top: 1em;
  padding-bottom: .2em;
}  

.error {
  padding-top: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #4b4b4b;
}

.error h1 {
  font-size: 2.5em;
}

.error h2 {
  font-size: 1.4em;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success,
.button-success a:hover {
  color: white !important;
  background: rgb(28, 184, 65);
}

.button-yes,
.button-yes a:hover {
  color: white !important;
  background: rgb(28, 184, 65);
}

.button-no,
.button-no a:hover {
  color: white !important;
  background: rgb(202, 60, 60);
}

.custab {
  border: 1px solid #999999;
  padding: 5px;
  box-shadow: 6px 6px 4px #ccc;
  transition: 0.5s;
  font-size: 0.95em;
  text-align: center;
}

.custab:hover {
  box-shadow: 3px 3px 2px #e5e5e5;
  transition: 0.5s;
}

.custab thead {
  background-color: #d9d9d9;
}

.custab thead tr th {
  border-bottom: 2px solid #999999;
  text-align: center;
  vertical-align: middle;
}

.custab thead tr th button.custab-head-button {
  color: black;
  outline: 0;
}

.custab tbody tr td {
  text-align: center;
  vertical-align: middle;
}

.custab tbody tr:hover {
  background-color: #e2e3e3;
}

.custab tbody a.btn {
  font-weight: bold;
  margin: 2pt;
}

.custab tbody button.btn,
.custab tbody button.btn:focus {
  font-weight: bold;
  margin: 2pt;
  outline: 0;
}

.custab-odd {
  background-color: #f2f2f2;
}

.analysis_results_row_unknown {
  background-color: #d6d6d6;
}

.analysis_results_row_unknown:hover {
  background-color: #e0e0e0 !important;
}

.analysis_results_row_normal {
  background-color: #bdeaac;
}

.analysis_results_row_normal:hover {
  background-color: #d1eaca !important;
}

.analysis_results_row_anomaly {
  background-color: #f2a7a7;
}

.analysis_results_row_anomaly:hover {
  background-color: #f2b2b2 !important;
}

.btn-classification-unknown {
  color: #fff;
  background-color: #919191;
  border-color: #919191;
}

.btn-classification-normal {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-classification-anomaly {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.help-button,
.help-button a,
.help-button a:hover,
.help-button button,
.help-button button:focus {
  float: right;
  color: black;
  text-decoration: none;
  outline: 0;
}

.help-button {
  padding: 0.3em;
}

/* scrollable */
.scrollable thead {
  display: block;
  width: 100%;
  padding-right: 15px;
}

.scrollable thead tr {
  width: 100%;
}

.scrollable thead tr th {
  width: 100%;
  min-width: 175px;
  padding-right: 10pt;
}

.scrollable tbody {
  display: block;
  height: 45vh;
  overflow-x: auto;
  overflow-y: scroll;
}

.scrollable tbody tr {
  width: 100%;
}

.scrollable tbody tr td {
  width: 100%;
  min-width: 175px;
  padding-right: 10pt;
}

.chart-text {
  font-size: 9pt;
}

.chart-text-right {
  text-align: right;
}

#commands_chart {
  height: 350px;
}

